body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#human {
  width: auto;
  margin-top: 30px;
}

#infoBox {
  display: none;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: left;
}