* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* buttons */

.homepage-buttons {
    display: flex;
    gap: 15px;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #667eea;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.btn:hover {
    background: #5568d3;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

/* For logo */

.Phi_tness_logo {
    font-size: 40px;
    color: #2EF2B2;
}
/* Logo font */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
}
/* Header font */

.logo-container img {
    height: 75px;
    width: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 40px;
    background-color: #2D3748;
}

/* RESPONSIVE */

@media(max-width: 1024px) {
    .main-header {
        padding: 15px 20px;
    }
    .Phi_tness_logo {
        font-size: 20px;
    }
    .homepage-buttons {
        gap: 10px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media(max-width: 767px) {
    .main-header {
        padding: 10px 15px;
    }
    .logo-container {
        gap: 8px;
    }
    .logo-container img {
        width: 35px;
        height: 35px;
    }
    .Phi_tness_logo {
        font-size: 16px;
    }
    .homepage-buttons {
        gap: 6px;
    }
    .btn {
        padding: 8px 12px;
        font-size: 12px;
    }
}