/* For buttons */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


/* For logo */

.Phi_tness_logo {
    font-size: 40px;
    color: #2EF2B2;
}
/* Logo font */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
}
/* Header font */

.logo-container img {
    height: 75px;
    width: auto;
}

.main-header {
    padding-left: 25px;
}
